<form action="" [formGroup]="this.registerForm" (ngSubmit)="onRegister()">

  <div class="mb-3">
    <label for="firstName" class="form-label">FirstName</label>
    <input formControlName="firstName" class="form-control" id="firstName" type="text">
  </div>
  <div class="mb-3">
    <label for="lastName" class="form-label">LastName</label>
    <input formControlName="lastName" class="form-control" id="lastName" type="text">
  </div>

  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input formControlName="email" class="form-control" id="email" 
      aria-describedby="emailHelp" type="email">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>

  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input formControlName="password" class="form-control" id="password" type="password">
    <div id="passwordHelpBlock" class="form-text">
      Your password must be 8-20 characters long, contain letters and numbers.
    </div>
  </div>

  <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>